# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
src/*.dll
src/*.o
R/FarMenu.ini
R/SciTE.properties
R/_md5
*.knitted
src-i386/
src-x64/
