useDynLib(ursa)

importFrom("grDevices", "col2rgb", "colorRampPalette", "rgb", "png",
           "graphics.off", "as.raster")
importFrom("graphics", "abline", "axTicks", "axis", "contour",
           "filled.contour", "hist", "image", "mtext", "plot",
           "polygon", "rect", "strheight", "strwidth", "text", 
           "box", "layout", "layout.show", "lcm", "lines",
           "par", "points", "segments", "legend")
importFrom("stats", "aggregate", "density", "loess", "median", "pf",
           "predict", "runif", "sd", "var", "na.omit")
importFrom("utils", "str", "download.file", "head", "tail", "methods",
           "object.size", "unzip", "URLencode", "localeToCharset",
           "read.table", "write.table", "browseURL")

export(".onAttach")
export(".onDetach")
export(".onLoad")
export(".onLoad.blank")
export(".onUnload")
export("allocate")
export("as.Raster")
export("as.ursa")
export("as_ursa")
export("band_blank")
export("band_max")
export("band_mean")
export("band_min")
export("band_n")
export("band_nNA")
export("band_sd")
export("band_stat")
export("band_sum")
export("bandname")
export("bandname<-")
export("chunk_band")
export("chunk_expand")
export("chunk_line")
export("close_envi")
export("colorize")
export("compose_close")
export("compose_coastline")
export("compose_design")
export("compose_graticule")
export("compose_legend")
export("compose_open")
export("compose_panel")
export("compose_plot")
export("compress")
export("coord_cr")
export("coord_xy")
export("create_envi")
export("create_gdal")
export("cubehelix")
export("decompress")
export("discolor")
export("display")
export("display_brick")
export("display_hetero")
export("display_homo")
export("display_rgb")
export("display_stack")
export("envi_copy")
export("envi_exists")
export("envi_list")
export("envi_remove")
export("envi_rename")
export("focal_extrem")
export("focal_max")
export("focal_mean")
export("focal_median")
export("focal_min")
export("focal_special")
export("get_earthdata")
export("glance")
export("global_max")
export("global_mean")
export("global_median")
export("global_min")
export("global_n")
export("global_nNA")
export("global_range")
export("global_sd")
export("global_sum")
export("histogram")
export("ignorevalue")
export("ignorevalue<-")
export("is.ursa")
export("is_spatial")
export("is_spatial_lines")
export("is_spatial_points")
export("is_spatial_polygons")
export("is_ursa")
export("legend_align")
export("legend_colorbar")
export("legend_mtext")
export("local_all")
export("local_any")
export("local_length")
export("local_max")
export("local_mean")
export("local_median")
export("local_min")
export("local_sd")
export("local_stat")
export("local_sum")
export("local_var")
export("nband")
export("open_envi")
export("open_gdal")
export("panel_abline")
export("panel_annotation")
export("panel_box")
export("panel_coastline")
export("panel_contour")
export("panel_decor")
export("panel_graticule")
export("panel_lines")
export("panel_new")
export("panel_plot")
export("panel_points")
export("panel_polygon")
export("panel_raster")
export("panel_scalebar")
export("panel_segments")
export("panel_shading")
export("panel_text")
export("pixelsize")
export("polygonize")
export("read_envi")
export("read_gdal")
export("reclass")
export("regrid")
export("series")
export("session_bbox")
export("session_cellsize")
export("session_crs")
export("session_grid")
export("session_pngviewer")
export("session_proj4")
export("session_tempdir")
export("session_use_experimental_functions")
export("setUrsaProgressBar")
export("spatial_area")
export("spatial_bbox")
export("spatial_bbox<-")
export("spatial_colnames")
export("spatial_colnames<-")
export("spatial_coordinates")
export("spatial_count")
export("spatial_crs")
export("spatial_crs<-")
export("spatial_data")
export("spatial_data<-")
export("spatial_dim")
export("spatial_engine")
export("spatial_fields")
export("spatial_fields<-")
export("spatial_filelist")
export("spatial_geometry")
export("spatial_geometry<-")
export("spatial_geotype")
export("spatial_length")
export("spatial_ncol")
export("spatial_nrow")
export("spatial_proj4")
export("spatial_proj4<-")
export("spatial_transform")
export("temporal_interpolate")
export("temporal_mean")
export("update_coastline")
export("ursa")
export("ursa_apply")
export("ursa_bbox")
export("ursa_blank")
export("ursa_brick")
export("ursa_cache")
export("ursa_colortable")
export("ursa_colortable<-")
export("ursa_columns")
export("ursa_crop")
export("ursa_dummy")
export("ursa_extent")
export("ursa_grid")
export("ursa_grid<-")
export("ursa_hist")
export("ursa_info")
export("ursa_lines")
export("ursa_ncol")
export("ursa_new")
export("ursa_nodata")
export("ursa_nodata<-")
export("ursa_nrow")
export("ursa_open")
export("ursa_proj")
export("ursa_proj<-")
export("ursa_proj4")
export("ursa_proj4<-")
export("ursa_read")
export("ursa_rows")
export("ursa_samples")
export("ursa_seqc")
export("ursa_seqr")
export("ursa_seqx")
export("ursa_seqy")
export("ursa_stack")
export("ursa_table")
export("ursa_value")
export("ursa_value<-")
export("ursa_write")
export("ursa<-")
export("ursaProgressBar")
export("value_cr")
export("value_ll")
export("value_xy")
export("write_envi")
export("write_gdal")
export("zonal_stat")

S3method("[",ursaColorTable)
S3method("[",ursaRaster)
S3method("[[",ursaRaster)
S3method("[<-",ursaRaster)
S3method("aggregate",ursaRaster)
S3method("as.array",ursaRaster)
S3method("as.data.frame",ursaGrid)
S3method("as.data.frame",ursaRaster)
S3method("as.integer",ursaRaster)
S3method("as.list",ursaRaster)
S3method("as.matrix",ursaRaster)
S3method("as.Raster",list)
S3method("as.Raster",NULL)
S3method("as.raster",ursaRaster)
S3method("as.Raster",ursaRaster)
S3method("as.Raster",ursaStack)
S3method("as.table",ursaRaster)
S3method("c",ursaRaster)
S3method("close",ursaRaster)
S3method("Complex",ursaRaster)
S3method("diff",ursaRaster)
S3method("dim",ursaGrid)
S3method("dim",ursaRaster)
S3method("dim<-",ursaRaster)
S3method("duplicated",ursaRaster)
S3method("head",ursaRaster)
S3method("hist",ursaRaster)
S3method("image",ursaRaster)
S3method("is.infinite",ursaRaster)
S3method("is.na",ursaRaster)
S3method("is.na<-",ursaRaster)
S3method("is.nan",ursaRaster)
S3method("length",ursaRaster)
S3method("Math",ursaRaster)
S3method("mean",ursaRaster)
S3method("median",ursaRaster)
S3method("na.omit",ursaRaster)
S3method("names",ursaColorTable)
S3method("names",ursaRaster)
S3method("names<-",ursaColorTable)
S3method("names<-",ursaRaster)
S3method("Ops",ursaRaster)
S3method("plot",ursaRaster)
S3method("print",ursaCategory)
S3method("print",ursaColorTable)
S3method("print",ursaConnection)
S3method("print",ursaGrid)
S3method("print",ursaNumeric)
S3method("print",ursaRaster)
S3method("rep",ursaRaster)
S3method("seek",ursaConnection)
S3method("seq",ursaGrid)
S3method("seq",ursaRaster)
S3method("str",ursaGrid)
S3method("str",ursaRaster)
S3method("summary",ursaCategory)
S3method("summary",ursaNumeric)
S3method("summary",ursaRaster)
S3method("Summary",ursaRaster)
S3method("tail",ursaRaster)
S3method("unlist",ursaStack)
